<div class="flex flex-col min-h-screen">
  <header
    class="sticky top-0 z-10 border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
  >
    <app-navbar />
  </header>
  <main class="flex-1"><router-outlet /></main>
  <footer className="border-t py-6 md:py-0">
    <div
      className="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row"
    >
      <p
        className="text-center text-sm leading-loose text-gray-500 md:text-left dark:text-gray-400"
      >
        © 2024 John Doe. All rights reserved.
      </p>
      <div className="flex items-center gap-4">
        <a href="https://github.com" target="_blank" rel="noreferrer">
          <Button variant="ghost" size="icon">
            <Github className="h-4 w-4" />
            <span className="sr-only">GitHub</span>
          </Button>
        </a>
        <a href="https://linkedin.com" target="_blank" rel="noreferrer">
          <Button variant="ghost" size="icon">
            <Linkedin className="h-4 w-4" />
            <span className="sr-only">LinkedIn</span>
          </Button>
        </a>
        <a href="mailto:john.doe@example.com">
          <Button variant="ghost" size="icon">
            <Mail className="h-4 w-4" />
            <span className="sr-only">Email</span>
          </Button>
        </a>
      </div>
    </div>
  </footer>
</div>
